{  
    "tabWidth": 2, 
    "trailingComma": "none",
    "printWidth": 85,
    "singleQuote": true,
    "arrowParens": "always",
    "semi": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "endOfLine": "lf"
}
